<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/semantic/semantic.min.js"></script>
    <style>
        .main {
            margin-top: 60px ;
        }
        body {
        background-image: url("./pictures/stationary.png");
        background-repeat: repeat;
        background-position: center;
        background-color: #FFE5CC;
        }
        @!section('style')
    </style>
</head>
<body>

    <div class="ui orange top fixed inverted borderless menu">
        <a class=" header item" href="{{route('home')}}"><h3>Supply Procurement</h3></a>
        <div class="right menu">
            @if(currentUser)
            <div class="ui dropdown item">
                User: &nbsp; {{currentUser}}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item"><a style="color: black;" href="{{route('logout')}}">Log Out</a></div>
                </div>
            </div>  
            <a class="item" href="{{route('order')}}">
                <i class="large clipboard outline icon"></i>  
                @if(order.length>0)
                    <div class="ui red circular mini label" style="position: relative; top: -10px; left: -25px;">{{ order.length }}</div>
                @endif          
            </a>
            @endif
        </div> 
    </div>
    <div class="main">
        <div class="ui container">
            @!section('body')
        </div>
    </div>

    <script>
        @section('script')
        $('.ui.dropdown').dropdown();
        @endsection
    </script>

</body>
</html>

